.restaurant-list-title {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
    color: #2c3e50;
  }
  
  .restaurant-card {
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .restaurant-card:hover {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
  
  .restaurant-card h3 {
    font-size: 1.8rem;
    margin-bottom: 0.5rem;
    color: #34495e;
  }
  
  .restaurant-card p {
    font-size: 1rem;
    margin: 0.3rem 0;
    color: #7f8c8d;
  }
  
  .restaurant-card strong {
    color: #34495e;
  }
  
  .restaurant-card:last-child {
    margin-bottom: 0;
  }
  

  div {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  .btn-primary {
    padding: 10px;
    background-color: #333;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

.btn-primary:hover {
    background-color: #428953;
}
